<div class="recipes">
    <app-cards id="1"
               photoCover="https://ik.imagekit.io/wvdiy3mbn/Blog%20DIO/Doce-simples-na-travessa-Teste-Receitas-730x365.jpg?updatedAt=1693794279553"
               cardTitle="Doce na travessa"
               cardContent="Feito a base de chocolate, morango e um creme super saboroso.">
    </app-cards>
    <app-cards id="2"
               photoCover="https://ik.imagekit.io/wvdiy3mbn/Blog%20DIO/download%20(3).jpeg?updatedAt=1693794800778"
               cardTitle="Bala de coco"
               cardContent="Deliciosa sobremesa feita com coco ralado e caramelo.">
    </app-cards>
    <app-cards id="3"
               photoCover="https://ik.imagekit.io/wvdiy3mbn/Blog%20DIO/download%20(4).jpeg?updatedAt=1693794997989"
               cardTitle="Mousse de Limão"
               cardContent="Delicioso, cremoso e super fácil de fazer.">

    </app-cards>
    <app-cards id="4"
               photoCover="https://ik.imagekit.io/wvdiy3mbn/Blog%20DIO/images%20(1).jpeg?updatedAt=1693795576495"
               cardTitle="Bicho de pé"
               cardContent="Docinho de festa delicioso e feito com Nesquik.">
    </app-cards>
    <app-cards id="5"
               photoCover="https://ik.imagekit.io/wvdiy3mbn/Blog%20DIO/images%20(2).jpeg?updatedAt=1693795712003"
               cardTitle="Cocada de leite condensado"
               cardContent="Deliciosa cocada cremosa de leite condensado para comer de colher.">
    </app-cards>
    <app-cards id="6"
               photoCover="https://ik.imagekit.io/wvdiy3mbn/Blog%20DIO/download%20(5).jpeg?updatedAt=1693795897162"
               cardTitle="Mousse de chocolate"
               cardContent="Delicioso mousse de chocolate tradicional.">
    </app-cards>
</div>
