.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
  background-color: rgba(245, 8, 8, 0.29);
  width: 330px;
  border-radius: 25px;
}

.card-photo img {
  padding-top: 1rem;
  width: 250px;
}

.card-title {
  color: #9a0c0c;
}

.card-content p {
   width: 100%;
  text-align: center;
  color: #812525;
 }
