<div class="container-card">
    <div class="card-photo">
      <img src="https://ik.imagekit.io/wvdiy3mbn/Blog%20DIO/download%20(6).png?updatedAt=1693767575377" alt="photo">
    </div>
    <div class="card-title">
      <h2> <a href="#"> Doce de leite </a></h2>
    </div>
    <div class="card-content">
      <p>
        Sesame snaps bonbon bear claw dragée chocolate. Sugar plum caramels sweet roll soufflé cotton candy powder.
        Caramels jelly-o powder cookie muffin jelly-o. Cookie apple pie caramels chocolate bar cake.
      </p>
    </div>
</div>
